<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '523467744490630',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView(); 

    //FB.api('/me', function(response) {
    //console.log(JSON.stringify(response));
      //});

  };
  var pageID;
  function checkLoginState() {
  	var pageAcessToken;
  	
  	FB.api('/me/permissions', function(response) {
    	console.log(JSON.stringify(response));
	});
  	FB.api('/me/accounts', function(response) {
    console.log(JSON.stringify(response));
    pageID = response.data[0].id;
    pageAcessToken = response.data[0].access_token;
    
    FB.api('/'+pageID+'?fields=access_token', function(response){
    	console.log(JSON.stringify(response));
    	 FB.api('/'+pageID+'/feed','POST',{message: 'hello 005'},	function(response){
    	console.log(JSON.stringify(response));
  		});
    })
   


	
      });

  	//alert('done--'+pageID);
	
  }

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<fb:login-button 
  scope="public_profile,email,publish_pages,manage_pages,publish_actions,pages_show_list,read_page_mailboxes,pages_manage_cta,pages_manage_instant_articles"
  onlogin="checkLoginState();">
</fb:login-button>

</body>
</html>